In [1]:
# Vamos começar carregando o arquivo CSV com os dados da tabela.
# Certifique-se de ajustar o caminho do arquivo para o local correto.
import pandas as pd

In [2]:
# Carregar o arquivo CSV
dataframe = pd.read_csv('alunos.csv')

In [3]:
# Agora que os dados estão carregados, podemos prosseguir com a análise e manipulação
# Exibir a tabela
print(dataframe)

     Nomes  Altura (cm)
0    Maria          165
1     João          180
2      Ana          155
3    Pedro          175
4    Sofia          160
5   Miguel          170
6    Clara          165
7    Lucas          185
8  Beatriz          150
9  Gabriel          175

In [6]:
dataframe

     Nomes  Altura (cm)
0    Maria          165
1     João          180
2      Ana          155
3    Pedro          175
4    Sofia          160
5   Miguel          170
6    Clara          165
7    Lucas          185
8  Beatriz          150
9  Gabriel          175