In [1]:
import pandas as pd
from IPython.display import display

# Carregar os dados do arquivo CSV
df = pd.read_csv('artista.csv')

# Formatar as células com duas casas decimais
df[['2019', '2020', '2021', '2022']] = df[['2019', '2020', '2021', '2022']].applymap('{:.2f}'.format)

# Exibir a tabela de duas vias sem a coluna de índice
display(df.style.hide_index())

/tmp/ipykernel_12843/953056335.py:11: FutureWarning: this method is deprecated in favour of `Styler.hide(axis="index")`
  display(df.style.hide_index())